# Networking
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

# Defaults (can be overridden)
sv_maxclients 20
set steam_webApiKey "none"

# Server identity (overridable)
sets tags "default, qbcore"
sets sv_projectName "ProjectPhoenix"
sets sv_projectDesc "An advanced FiveM RP framework"
sets locale "en-US"

load_server_icon myLogo.png
set sv_enforceGameBuild 2802

# Voice (shared)
setr voice_useNativeAudio 1
setr voice_useSendingRangeOnly 1
setr voice_zoneRadius 300
setr voice_enableUi 1
setr voice_enableRadios 1
setr voice_enablePhones 1
setr voice_defaultCycle "`"
setr voice_defaultRadio "CAPS"

# QBCore
setr qb_locale "en"
setr UseTarget true

# Base resources
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure baseevents

# Nested
exec resources.cfg

# Environment-specific overrides
exec server.env.cfg
